* {
	box-sizing: border-box;
}

main {	
	margin-top: 50px;
	/* Just added to give some space at the top of the colour cube.*/
}

.container {
	margin-left: auto;	
	margin-right: auto;
	text-align: center;
	font-size: 0;
	width: 800px;
}

.green-box, .blue-box {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	display: inline-block;
}

.green-box {
	background-color: green;
}

.blue-box {
	background-color: blue;
}

.grey-box, .black-box, .orange-box {
	width: 33.33%;
	height: 300px;
	border: 1px solid black;
	display: inline-block;
}

.grey-box {
	background-color: grey;
}

.black-box {
	background-color: black;
}

.orange-box {
	background-color: orange;
}

